.name {
    font-size: 38px;
    margin-bottom: 0px;
    font-weight: 700;
}
.block_1 {
    color: rgb(73, 144, 73);
}
.block_2 {
    color: rgb(236, 63, 63);
    font-weight: 600;
}
.block_3 {
    color: rgb(32, 25, 238);
    font-weight: 600;
}
.block_4 {
    color: rgb(32, 25, 238);
    font-style: italic;
    font-size: 18px;
}
footer {
    margin-top: 40px;
    color: rgb(14, 14, 99);
    font-weight: 600;
    font-size: 18px;
}
