@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
h1 {
    font-family: "Lobster";
    margin-left: 35px;
}
h2 {
    font-family: "Manrope";
    margin-left: 36px;
}
pre {
    font-family: "Manrope";
}
